<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="" data-testid="nav-logo">
            <img src="assets/logo/bom-destino-icon.png" alt="" height="40">
            <label class="sgm-label">{{ 'app.name' | transloco }}</label>
        </a>
        <div class="row ms-auto">
            <div class="col-auto">
                <sgm-user-credentials-popover></sgm-user-credentials-popover>
            </div>
        </div>

    </div>
</nav>
