<section id="user-list-container">
    <h1 class="title mb-2" transloco="service.title">Services</h1>
    <div class="row justify-content-end">
        <div class="col-auto add-button" *sgmHasAnyAuthority="['ROLE_SERVICE_MANAGEMENT']">
            <button type="button" class="btn btn-primary btn-register d-flex align-items-center mt-3 mb-3"
                    data-testid="create-button" (click)="goToNewServiceScreen()">
                <span class="material-icons-outlined">add</span>
                <span class="web-content" transloco="service.button">Service</span>
            </button>
        </div>
    </div>
    <table class="table table-striped web-content">
        <thead>
        <tr>
            <th scope="col" data-testid="sort-btn-user" (click)="sort('name')"
                [ngClass]="{'hover' : orderBy === 'name'}">
                <span transloco="service.list.name">Name</span>
                <span class="material-icons-outlined sort-icon">{{getSortIcon('name')}}</span>
            </th>
            <th scope="col" data-testid="sort-btn-type" (click)="sort('path')"
                [ngClass]="{'hover' : orderBy === 'type'}">
                <span transloco="service.list.path">Path</span>
                <span class="material-icons-outlined sort-icon">{{getSortIcon('path')}}</span>
            </th>
            <th scope="col" data-testid="sort-btn-status" (click)="sort('activated')"
                [ngClass]="{'hover' : orderBy === 'activated'}">
                <span transloco="generalFields.status">Status</span>
                <span class="material-icons-outlined sort-icon">{{getSortIcon('activated')}}</span>
            </th>
            <th scope="col" class="options-col" transloco="generalFields.options">Options</th>
        </tr>
        </thead>
        <tbody *ngIf="isLoading">
        <tr>
            <td colspan="6">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="back-loader-table">
                        <div class="spinner-table">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="!isLoading">
        <tr *ngFor="let service of items; let index = index" [attr.data-testid]="'row-' + index">
            <td (click)="redirectByUrl(buildEditOrViewRoute(service.id))"
                class="text-truncate cursor-pointer"
                title="{{service.name}}">{{ service.name }}</td>
            <td class="text-truncate">{{ service.path }}</td>
            <td>
                <sgm-toggle-status id="toggle-status-+{{index}}"
                                   [inputToggleId]='index'
                                   [activated]="service.activated"
                                   (toggleAction)="changeStatus(service)"
                                   [permissions]="['ROLE_SERVICE_MANAGEMENT']"
                                   data-testid="status-toggle-button">
                </sgm-toggle-status>
            </td>
            <td class="d-flex align-items-center">
                <div class="action-icons-container" *sgmHasAnyAuthority="['ROLE_AUDITOR', 'ROLE_SERVICE_MANAGEMENT']">
                    <button class="btn btn-icon" data-testid="view-button" (click)="gotToViewScreen(service.id)">
                        <span class="material-icons-outlined action-icons">visibility</span>
                    </button>
                </div>
                <div class="action-icons-container" *sgmHasAnyAuthority="['ROLE_SERVICE_MANAGEMENT']">
                    <button class="btn btn-icon" (click)="gotToEditScreen(service.id)" data-testid="edit-button">
                        <span class="material-icons-outlined action-icons" data-testid="edit-button">edit</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <sgm-pagination [itemsPerPage]="itemsPerPage" [page]="page" [totalItems]="totalItems"
                    (pageChange)="loadItemsPage($event)">
    </sgm-pagination>

    <div class="mt-2 mobile-table mobile-content"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="loadProgressPageInfiniteScroll()">

        <table *ngFor="let service of items; let index = index" [attr.data-testid]="'row-' + index"
               class="mt-3 table table-striped">
            <thead class="mobile">
            <tr>
                <th scope="col" class="cursor-pointer" (click)="redirectByUrl(buildEditOrViewRoute(service.id))"
                    colspan="2">{{service.name}}</th>
            </tr>
            </thead>
            <tbody *ngIf="isLoading">
            <tbody>
            <tr>
                <td class="text-truncate" transloco="service.list.path">Path</td>
                <td class="text-truncate">{{service.path }}</td>
            </tr>
            <tr>
                <td class="text-truncate" transloco="generalFields.status">Status</td>
                <td>
                    <sgm-toggle-status id="toggle-status-+{{index}}"
                                       [inputToggleId]='index'
                                       [activated]="service.activated"
                                       (toggleAction)="changeStatus(service)"
                                       [permissions]="['ROLE_SERVICE_MANAGEMENT']"
                                       data-testid="status-toggle-button">
                    </sgm-toggle-status>
                </td>
            </tr>
            </tbody>
        </table>

        <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
            <div class="back-loader-table">
                <div class="spinner-table">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!totalItems && !isLoading">
        <div class="d-flex justify-content-center align-items-center mb-5 mt-5">
            <span *ngIf="noSearch(); else elseBlock">{{ 'message.noItems' | transloco }}</span>
            <ng-template #elseBlock>
                <span>{{ 'message.noResults' | transloco }}</span>
            </ng-template>
        </div>
    </div>
</section>
