.ng-select div, .ng-select input, .ng-select span {
    white-space: normal;
}

.pointer {
    cursor: pointer;
}

.border-side {
    border: 1px solid var(--bs-lavender-transparent);
}

.border-up-down {
    border-style: solid none solid none;
    border-color: var(--bs-lavender-transparent);
    border-width: 1px;
}

.margin-top {
    margin-top: 15px;
}

.horizontal-line {
    color: var(--bs-lavender-transparent);
    opacity: 1;
    margin: 46px 15px;
}

.input-group {
    width: 320px;
}
