.service-card {
    background: var(--bs-dark-blue);
    height: 200px;
    width: 200px;
    margin: 15px;
    cursor: pointer;

    label {
        font-size: 18px;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;
        height: auto;
        max-height: 200px;
        cursor: pointer;
    }
}

.service-card:hover {
    background: var(--bs-dark-magenta);
}