label {
    width: auto;
    height: 15px;
    color: var(--bs-ship-cove);
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.sgm-label {
    text-align: center;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-underline-offset: 5px;
    margin: 25px auto 15px;
    word-break: break-all;
    height: auto;
    width: 85%;
}
