ngb-pagination > .pagination {
    margin-bottom: 50px;

    > .page-item {
        border: none;
    }

    > .page-item > .page-link {
        margin-left: 4px;
        margin-right: 4px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bs-light-transparent);
        color: var(--bs-primary-blue);
        border: none;

        span {
            display: none;
        }

        &:hover {
            background-color: var(--bs-gray-transparent);
        }
    }

    > .active > .page-link {
        background-color: var(--bs-primary-blue);
        color: var(--bs-dark-blue);
        border-radius: 4px;
        pointer-events: none;
    }

    > .disabled > .page-link {
        pointer-events: none;
        opacity: .50;
    }
}
