<div class="container wrap-content d-flex align-items-center">
    <div class="d-flex justify-content-between">

        <div class="user-data">
            <div class="row">
                <span class="text-truncate d-inline-block name">{{loggedAccount?.name}}</span>
            </div>
            <div class="row">
                <span class="text-truncate d-inline-block type">{{loggedAccount?.profile}}</span>
            </div>
        </div>

        <div class="popover-wrap">
            <ng-template #popContent>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" data-testid="popover-edit-profile"
                           transloco="sidenav.editProfile">Edit profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-testid="popover-edit-password" transloco="sidenav.editPassword"
                           (click)="changePassword()">Change password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" data-testid="popover-logout" transloco="sidenav.logout"
                           (click)="logout()">Logout</a>
                    </li>
                </ul>
            </ng-template>

            <button type="button" class="btn btn-popover"
                    [ngbPopover]="popContent"
                    placement="bottom-right"
                    popoverClass="theme-custom-popover"
                    popoverTitle=""
                    data-testid="popover-button">
                <span class="material-icons md-18">expand_more</span>
            </button>
        </div>

    </div>
</div>
