.wrap-content {
    width: 200px;
    height: 48px;
    padding: 6px;
    margin: 0;
    border-radius: 24px;
    background-color: var(--bs-alice-blue-transparent);
}

.user-data {
    width: 110px;
    margin: auto auto auto 35px;
    padding: 0;

    .name {
        font-size: 14px;
    }

    .type {
        font-size: 12px;
        opacity: 0.5;
    }
}

.popover-wrap {
    width: 30px;
    padding: 0;
    margin: 0;

    .btn-popover {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 64px;
        padding: 0;
        margin: 0 9px 0 0;
    }

    .btn-popover:hover {
        background-color: var(--bs-ship-cove-transparent);
    }
}

.nav-item {
    padding: 12px 0 12px 0;

    .nav-link {
        padding: 0;
        font-size: 14px;
        font-family: Montserrat, sans-serif;
        color: white;
    }

    .nav-link.text-warning:hover, .nav-link:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .nav-link.disabled {
        color: gray;
    }
}

.nav-item:first-child {
    padding-top: 0;
}

.nav-item:last-child {
    padding-bottom: 0;
}
