/* boostrap */

/* rewrite boostrap colors */
$primary: #9265ff;
$secondary: #575757;
$success: #2BAB40;
$info: #13101c;
$warning: #FEB200;
$danger: #CF0B0B;
$light: #f8f9fa;
$dark: #343a40;

/* custom colors */
$primary-blue: $primary;
$dark-magenta: #230024;
$dark-blue: rgba(37, 8, 59, 0.95);
$dark-blue-medium-transparent: rgba(35, 13, 59, 0.6);
$dark-blue-transparent: rgba(35, 13, 59, 0.9);
$sapphire-color: #23144b;
$sapphire-color-tint: #231945;
$sapphire-color-transparent: rgba(36, 19, 49, 0.83);
$dark-midnight-blue: #3a244e;
$dark-cyan-blue: #2e2650;
$midnight-blue: #3f3669;
$midnight-blue-medium-transparent: rgba(73, 39, 105, 0.5);
$midnight-blue-tint: #3c4071;
$catalina-blue: #483d67;
$dark-slate-gray: #464364;
$alice-blue-transparent: #f3f6f90d;
$ship-cove: #a5a7af;
$dark-gray: #ABACAE;
$iron: #cfd0d2;
$secondary-gray: $secondary;
$light-transparent: rgba(255, 255, 255, 0.1);
$gray-transparent: rgba(235, 235, 235, 0.05);
$lavender: #eaecef;
$lavender-transparent: #eaecef1a;
$ship-cove-medium-transparent: #7482ac80;
$ship-cove-transparent: #7482ac33;
$backdrop-color: #00000080;
$box-shadow-color: #0000009C;
$moderate-lime-green: #60c070;
$dark-green: #008D34;
$mandy: coral;

/* rewrite boostrap colors map */
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark,
);

/* create a new colors map */
$project-theme-colors: (
    dark-slate-gray: $dark-slate-gray,
    dark-blue: $dark-blue,
    dark-blue-medium-transparent: $dark-blue-medium-transparent,
    midnight-blue: $midnight-blue,
    midnight-blue-medium-transparent: $midnight-blue-medium-transparent,
    midnight-blue-tint: $midnight-blue-tint,
    dark-midnight-blue: $dark-midnight-blue,
    primary-blue: $primary-blue,
    secondary-gray: $secondary-gray,
    dark-gray: $dark-gray,
    iron: $iron,
    light-transparent: $light-transparent,
    gray-transparent: $gray-transparent,
    ship-cove: $ship-cove,
    catalina-blue: $catalina-blue,
    backdrop-color: $backdrop-color,
    box-shadow-color: $box-shadow-color,
    sapphire-color: $sapphire-color,
    sapphire-color-tint: $sapphire-color-tint,
    sapphire-color-transparent: $sapphire-color-transparent,
    alice-blue-transparent: $alice-blue-transparent,
    ship-cove-medium-transparent: $ship-cove-medium-transparent,
    ship-cove-transparent: $ship-cove-transparent,
    dark-blue-transparent: $dark-blue-transparent,
    dark-cyan-blue: $dark-cyan-blue,
    dark-magenta: $dark-magenta,
    lavender: $lavender,
    lavender-transparent: $lavender-transparent,
    moderate-lime-green: $moderate-lime-green,
    dark-green:$dark-green,
    mandy: $mandy
);

/*  integrating project theme with boostrap theme */
$theme-colors: map-merge($theme-colors, $project-theme-colors);
