@import 'src/assets/theme/media-breakpoint-import-utils';

.sgm-container {
    padding-left: 80px;
    padding-top: 120px;
    width: 100%;
    min-height: 100vh;
}

.sgm-content {
    padding: 10vw 7vw
}

@include media-breakpoint-down(sm) {
    .sgm-container {
        padding-left: 0;
        padding-top: 60px;
    }
}
