@import 'src/assets/theme/media-breakpoint-import-utils';

$card-width: 700px;
$card-width-small: 400px;

.password-component-body {
    background-image: url('../../../../assets/imagens/background.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    margin: auto;
    padding: 0 0 25px 0;
    background-color: var(--bs-dark-blue);
    box-shadow: 0 3px 6px var(--bs-dark-blue);
}

.div-message-label {
    font-size: 12px;
    padding-left: 15px;
}

.password-form {
    width: 350px;
    margin: auto;
}

.login-card-logo {
    width: 240px;
    height: 64px;
    padding: 0;
    margin: 40px 110px 25px;
}

.password-card-label {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.password-buttons {
    min-width: 350px;
    margin: auto;
}

.rule-card-label {
    font-size: 12px;
    font-weight: 600;
}

/* override global property */
.input-group {
    width: 300px;
    margin: 0 15px;
}

.password-icon:hover {
    cursor: pointer;
    color: white;
}

button {
    width: 300px;
    margin: 5px 25px;
}

.green-label {
    color: var(--bs-success);
}

.gray-label {
    color: var(--bs-gray-500);
}

.red-label {
    color: var(--bs-mandy);
}

.div-rules {
    margin: 30px 0 20px 0;
}

.password-card-body {
    margin: 30px 0 35px 20px;
}

.password-rule span {
    font-size: 12px;
    padding: 8px 5px;
}

.strength-meter {
    width: 300px;
    margin: 0 5px;
}

.separator {
    padding-bottom: 0;
}

@media (max-width: 420px) {
    .modal-header {
        padding: 15px;
    }

    .modal-body {
        padding-left: 15px;
    }
}

@include media-breakpoint-up(sm) {
    .card-body {
        width: $card-width-small;
        min-width: unset;
        padding: 0 50px 25px;
    }

    .login-card-logo {
        height: 104px;
        margin: 74px 110px 45px;
    }

    .auth-divider {
        width: $card-width;
    }

    .password-form {
        width: 100%;
    }

    .password-buttons {
        margin: inherit;
    }
}

@include media-breakpoint-up(lg) {
    .card-body {
        width: $card-width;
        min-width: unset;
        padding: 25px;
    }

    .password-form {
        margin-left: 24px;
    }

    .password-card-label {
        font-size: 14px;
        margin-bottom: 36px;
    }

    button {
        width: 150px;
    }
}
