<div class="password-component-body">
    <div class="card-body">
        <div class="col-12">
            <div class="row justify-content-center">
                <img class="login-card-logo" src="assets/logo/bom-destino-icon.png" alt="">
            </div>
            <div class="row justify-content-center">
                <label class="password-card-label" transloco="password.title">Update password</label>
            </div>
            <div class="row justify-content-center">
                <form class="d-flex password-form" role="form" (ngSubmit)="changePassword()"
                      [formGroup]="changePasswordForm">
                    <div class="row justify-content-start pt-3">
                        <div class="col-mob3-12 col-lg-6 align-items-center justify-content-center pt-4">
                            <div class="row justify-content-start">
                                <label class="d-block div-message-label"
                                       transloco="password.password">Password</label>
                                <div class="input-group mb-3">
                            <span class="input-group-text material-icons md-18 password-icon"
                                  (click)="showPassword()">
                                {{passwordIcon}}</span>
                                    <input [type]="inputPasswordType"
                                           class="form-control"
                                           name="password"
                                           formControlName="password"
                                           id="password"
                                           data-testid="modal-password"
                                           placeholder="{{ 'password.passwordPlaceholder' | transloco }}"
                                           required>
                                </div>
                            </div>

                            <div class="row justify-content-start separator pt-3">
                                <label class="d-block div-message-label mb-3"
                                       transloco="password.confirmPassword">Password</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text material-icons md-18 password-icon"
                                          (click)="showConfirmPassword()">
                                        {{confirmPasswordIcon}}</span>
                                    <input [type]="inputConfirmPasswordType"
                                           class="form-control"
                                           name="confirmPassword"
                                           formControlName="confirmPassword"
                                           id="confirmPassword"
                                           data-testid="modal-confirmPassword"
                                           placeholder="{{'password.confirmPasswordPlaceholder'  | transloco }}"
                                           required>
                                </div>
                            </div>
                        </div>

                        <div class="col-mob3-12 col-lg-6 mt-mob0-4 mt-lg-0 align-items-center justify-content-center align-self-center">

                            <div class="row justify-content-start">
                                <label class="rule-card-label" transloco="password.rule.title1">Your password
                                    must:</label>
                            </div>

                            <div class="row justify-content-start mt-2">
                                <div class="password-rule">
                                    <span *ngIf="areEquals()" class="material-icons green-label">check</span>
                                    <span *ngIf="!areEquals()" class="material-icons red-label">close</span>
                                    <span [ngClass]="areEquals() ? 'green-label' : 'red-label'"
                                          transloco="password.rule.equal">
                          Be equal to confirmation!
                        </span>
                                </div>
                            </div>

                            <div class="row justify-content-start mt-2">
                                <div class="password-rule">
                                    <span *ngIf="isSizeRight()" class="material-icons green-label">check</span>
                                    <span *ngIf="!isSizeRight()" class="material-icons red-label">close</span>
                                    <span [ngClass]="isSizeRight() ? 'green-label' : 'red-label'"
                                          transloco="password.rule.size">
                          Be at least 07 characters!
                        </span>
                                </div>
                            </div>

                            <div class="row justify-content-start mt-4">
                                <label class="rule-card-label" transloco="password.rule.title2">Your password
                                    must:</label>
                            </div>

                            <div class="row justify-content-start mt-2">
                                <div class="password-rule">
                                    <span *ngIf="containsNumber()" class="material-icons green-label">check</span>
                                    <span *ngIf="!containsNumber()"
                                          class="material-icons red-label">close</span>
                                    <span [ngClass]="
                            {
                                'green-label': containsNumber(),
                                'red-label': !containsNumber()
                            }" transloco="password.rule.number">
                                 Contain at least 01 number!
                            </span>
                                </div>
                            </div>

                            <div class="row justify-content-start mt-2">
                                <div class="password-rule">
                                    <span *ngIf="containsUppercaseLetter()"
                                          class="material-icons green-label">check</span>
                                    <span *ngIf="!containsUppercaseLetter()"
                                          class="material-icons red-label">close</span>
                                    <span [ngClass]="
                            {
                                'green-label': containsUppercaseLetter(),
                                'red-label': !containsUppercaseLetter()
                            }" transloco="password.rule.uppercase">
                                 Contain at least 01 letter in capital case!
                            </span>
                                </div>
                            </div>

                            <div class="row justify-content-start mt-2">
                                <div class="password-rule">
                                    <span *ngIf="containsLowercaseLetter()"
                                          class="material-icons green-label">check</span>
                                    <span *ngIf="!containsLowercaseLetter()"
                                          class="material-icons red-label">close</span>
                                    <span [ngClass]="
                            {
                                'green-label': containsLowercaseLetter(),
                                'red-label': !containsLowercaseLetter()
                            }" transloco="password.rule.lowercase">
                                Contain at least 01 letter in small case!
                            </span>
                                </div>
                            </div>

                            <div class="row justify-content-start mt-2 mb-4">
                                <div class="password-rule">
                                    <span *ngIf="containsNonAlphabetic()"
                                          class="material-icons green-label">check</span>
                                    <span *ngIf="!containsNonAlphabetic()"
                                          class="material-icons red-label">close</span>
                                    <span [ngClass]="
                            {
                                'green-label': containsNonAlphabetic(),
                                'red-label': !containsNonAlphabetic()
                            }" transloco="password.rule.nonAlphabetic">
                                Contain at least 01 special character!
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5 p-0 password-buttons">
                            <button type="submit" class="btn btn-primary" id="btn-confirm"
                                    data-testid="change-password-confirm-button"
                                    [disabled]="!(isValidPassword() && this.isSizeRight() && this.areEquals())"
                                    transloco="button.confirm">Confirm
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-cancel"
                                    (click)="cancel()">
                                <span transloco="password.logout">Logout</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
